@import "~bootstrap";

body {
  background-color: #7575a3;
}

table {
  text-align: center;
  background-color: #ff3333;
}

.panel-body {
  padding-top: 15px;
}

.table thead, .table thead th {
  text-align: center;

}

.table tbody td {
  color: white;
}

.container {
  width: 80%;
}

.btn-primary {
  max-width: 50%;
}

.btn-save {
  max-width: 100%;
  background-color: rgba(41, 128, 185, 0.8);
  color: white;
}

.padding-div {
  padding-top: 50px;
}

